{% extends "DevTestBundle::layout.html.twig" %}

         {% block  table %}             
    <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Article details
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Details / {{ entity.name }}
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
<div class="row">
                   
       <h2>  {{entity.name}}</h2>              
    <p align="right">
                <a href="{{ path('users_edit',{ 'id': entity.id }) }}">
                    <button  type="button" class="btn btn-lg btn-primary">Edit User</button>
                </a>
                
    </p>
                
                      
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                               
                               <tr><td>Id</td>  <td>{{ entity.id }}</td> </tr>
                                    <tr><td>Name</td><td>{{ entity.name }}</td></tr>
                                    <tr><td>Date of birth</td>  <td>{{ entity.dob |date("Y-m-d") }}</td> </tr>   
                                      <tr><td>Address</td><td>{{ entity.address }}</td></tr>
                                        <tr><td>Description</td><td>{{ entity.description }}</td></tr>
                                          <tr><td>Created at</td>  <td>{{ entity.createdAt |date("Y-m-d") }}</td> </tr>  
                  
                     <tbody>
 
  
                                    

                                </tbody>
                            </table>
                        </div>
                   
                </div>
               
                <!-- /.row -->


                

            </div>
            <!-- /.container-fluid -->

        </div>
      
      
        {% endblock  %}
        
         