{% extends "DevTestBundle::layout.html.twig" %}


{% block form %}
  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Forms
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Edit user
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                   
                  <form  role="form" action="" method="post" enctype="multipart/form-data">
                            {{ form_start(form) }}
                            <div class="form-group">
                                 <label>{{ form_label ( form.name , "Name:") }}</label>
                                {{ form_widget ( form.name,{'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
                                {{ form_errors(form.name) }}
                            </div>
                              <div class="form-group">
                                 <label>{{ form_label ( form.dob , "Date of Birth:") }}</label>
                                {{ form_widget ( form.dob,{'attr': {'class': 'form-control', 'placeholder': 'Date of Birth'}}) }}
                                {{ form_errors(form.dob) }}
                            </div>
                                 <div class="form-group">
                                 <label>{{ form_label ( form.address , "Address:") }}</label>
                                {{ form_widget ( form.address,{'attr': {'class': 'form-control', 'placeholder': 'Address'}}) }}
                                {{ form_errors(form.address) }}
                            </div>
             
               <div class="form-group">
                               <label>{{ form_label ( form.description   , "Description:") }}</label>
                              {{ form_widget ( form.description   ,{'attr': {'class': 'form-control' ,'rows': '3', 'placeholder': 'Description'}}) }}
                                   {{ form_errors(form.description ) }}
                                
                            </div>
                                         <div class="form-group">
                                 <label>{{ form_label ( form.createdAt , "Created at:") }}</label>
                                {{ form_widget ( form.createdAt,{'attr': {'class': 'form-control', 'placeholder': 'Created at'}}) }}
                                {{ form_errors(form.createdAt) }}
                            </div>
                  

        {{ form_widget ( form.submit,{'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                <button type="reset" class="btn btn-lg btn-danger">Cancel</button>
                          
                            {{ form_end(form) }}
                          
                         

                        </form>

                 
                   
                       
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
{% endblock %}
  
