{% extends "DevTestBundle::layout.html.twig" %}


         {% block  table %}             
    <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                          Users
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Users
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
<div class="row">
                   
           
                 
                  <h2> All Users</h2>   
           
               
                <a href="{{ path('users_new') }}">
                     
                    <button type="button" class="btn btn-lg btn-primary">Add</button>
                </a><br><br>
                
          
      
                       
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                 <th>N°</th>
                   <th>Id</th>
                <th>Name</th>
                 <th>Date of birth</th>
                   <th>Address</th>
                <th>Description</th> 
                 <th>Created at</th> 
               <th>Actions</th> 
                   </tr>
                    </thead>
                     <tbody>
                     
                                  {% set i = 0 %}
                      {% for entity in entities %}
                    {% set i = i+1 %}   
            <tr>
                  <td>{{ i }}</td>
                <td>{{ entity.id }}</td>   
                <td>{{ entity.Name }}</td>   
                <td>{{ entity.dob |date("Y-m-d") }}</td>   
                <td>{{ entity.address }}</td>   
                <td>{{ entity.description }}</td>
                 <td>{{ entity.createdAt |date("Y-m-d") }}</td>
                
             
                <td>
                   
            <a href="{{ path('users_show',{ 'id': entity.id }) }}">
                    
                                                <button title="Details" type="button" class="btn btn-default btn-circle"><i class="fa fa-list-alt"></i>
                                                </button>
                                            </a>
                                            <a href="{{ path('users_edit',{ 'id': entity.id }) }}">
                                                <button title="Edit" type="button" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                            <button title="Delete" type="button" class="btn btn-danger btn-circle" data-toggle="modal" data-target="{{ '#myModal' ~ entity.id }}"><i class="fa fa-times"></i>
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="{{ 'myModal' ~ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">delete User ?</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to delete this user? 
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <a href="{{ path('users_delete',{ 'id': entity.id }) }}" title="Delete"><input type="submit" value="Delete" class="btn btn-primary" onclick="this.disabled=true;this.value='Deleting, please wait...';this.form.submit();" /></a>              
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>

                </td>
            </tr>
           
        {% endfor %}
                                    

                                </tbody>
                            </table>
                        </div>
                   
                </div>
               
                <!-- /.row -->


                

            </div>
            <!-- /.container-fluid -->

        </div>
      
      
        {% endblock  %}
              {% block categories %}
       {% for category in categories %}
                              <li>
                                <a href="{{ path('articles',{ 'id': category.id }) }}" >{{ category.titre }}</a>
                            </li>
       {% endfor %}
                            {% endblock %}